@font-face
{
	font-family: "segoeui";
	src: url(../font/segoeui.ttf);
}

body 
{
	padding-top: 57px;

	font-family: segoeui;

	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

	cursor: default;
}
